<!DOCTYPE html>
<html>
<head>
	<title>Find someone</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="scripts/myApp.js"></script>
	<script type="text/javascript" src="scripts/myCtrl.js"></script>
</head>
<body>

	<div ng-app="searchApp" ng-controller="myCtrl">
		<h1>Search for someone</h1>
		<input type="text" ng-model="search">

		<div ng-show="search">
			<search-status></search-status>

			<table>
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="x in people | filter:search" ng-click="showInfo(x)">
						<td>{{x.fname}}</td>
						<td>{{x.lname}}</td>
					</tr>

				</tbody>
			</table>
		</div>

		<div style="float:right;" ng-show="selected">
			<h2>About &mdash; {{selected.fname + ' ' + selected.lname}}</h2>
			<p>{{selected.bio}}</p>
		</div>

	</div>


</body>
</html>


